body {
    background-color: #e5a1b8;
}

.container {
    background-image: url(../images/background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e5a1b8;
    color: #df598e;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: 700px;
    margin: auto;
}

.row {
    border: black 1px solid;
}

.edition, h2 {
    margin: 10px auto;
    width: 100%;
}

.questionImage {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    max-height: 300px;
}

.trivia-title {
    top: 50px;
    left: 20px;
}

.trivia-image {
    top: 50px;
}


